<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Study Abroad</title>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
        <script>
            function deleteAll(){
                //are you sure you want to delete all?
                let text = "WARNING! Are you sure you want to remove all students?";
                if(window.confirm(text) == true){
                    document.getElementById("form").submit();
                }
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="nav">
                <h4><a href="/">HOME</a></h4>
                <h4><a href="/archive">ARCHIVE</a></h4>
            </div>
            <div class="title">
                <h1>Archive</h1>
                <div class="city-links">
                    <h4><a href="/welcome/Barcelona">BARCELONA</a></h4>
                    <h4><a href="/welcome/CapeTown">CAPE TOWN</a></h4>
                    <h4><a href="/welcome/Florence">FLORENCE</a></h4>
                    <h4><a href="/welcome/London">LONDON</a></h4>
                    <h4><a href="/welcome/Nice">NICE</a></h4>
                    <h4><a href="/welcome/Tokyo">TOKYO</a></h4>
                </div>
                <h2><b>Here is a list of all the students in the program.</b></h2>
                <div class="archiveTable-container">
                    <table class="archiveTable">
                        <tr>
                            <th>Name</th><th>Destination</th><th>Semester</th>
                        </tr>
                        <%- locals.table %>
                    </table>
                </div>
                
                <div class="erase-button">
                    <form action="./archive" id="form" onsubmit="deleteAll()" method="post">
                        <button type="submit" id="erase" >Delete All</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>