<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Study Abroad</title>
        <link href="/styles.css" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="../favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="manifest" href="../favicon/site.webmanifest">
    </head>
    <script>
        function apply(){
            //go to apply page
            location.href="/apply";
        }
    </script>
    <body>
        <div class="container">
            <div class="title">
                <h1>Study Abroad!</h1>
                <h2 class="home-description">
                    Want to earn course credits while exploring overseas? 
                    Apply for our <span>study abroad</span> program
                    for an enriching learning experience!
                </h2>
                <button id="sign-up" class="home-sign-up" onclick="apply()">Sign Up</button>
            </div>
        </div>
    </body>
</html>