<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Study Abroad</title>
        <link href="/styles/fl-styles.css" rel="stylesheet" type="text/css">
    </head>
    <script>
        
    </script>
    <body>
        <div class="welcome-container">
            <div class="welcome-title">
                <h1><%- welcome %>!</h1>
                <h2>Learn more about <span><%- location %></span>.</h2>
            </div>
            <div>
            </div>
            <div>
                <h2>Students who are going to this destination</h2>
                <table>

                </table>
            </div>
        </div>
    </body>
</html>