@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@200;400;500;700;900&display=swap');

:root{
    --color-light-blue: rgb(170, 243, 254);
    --color-blue: rgb(151, 224, 243);
    --color-med-blue: rgb(78,210,244);
    --color-ocean: rgb(91, 106, 150);
    --color-ocean2: rgb(84, 108, 178);
    --color-navy: rgb(64, 71, 90);
    --color-lavender:  rgb(198, 205, 255);
    --color-med-green: rgb(119, 241, 78);
    --color-grey: rgb(82, 91, 118);
    --color-grey2: rgb(143, 147, 163);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0,0,0);
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    font-family: 'Chivo', sans-serif;
    background-image: url("../../images/home-img.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

/*---------- HOME PAGE -----------*/
.nav{
    font-weight: 800;
    font-size: 2vw; 
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav :link , :visited{
    color: black;
    margin-right: 3vw;
}

.nav :hover{
    color: var(--color-ocean);
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgba(240, 246, 255, 0.75);
}

.title{
    display: flex;
    flex-direction: column;
    padding: 5% 0% 0% 5%;
}

h1 {
    font-weight: 900;
    font-size: 10vw;
    margin: 1%;
    color: var(--color-black);
}

h2 {
    font-weight: 400;
    font-size: 3vw; 
    width: 75%;
    margin: 1%;
    color: var(--color-grey);
    /*1px 1px 2px rgb(29, 103, 213),*/
  /*  text-shadow:  0 0 5px rgb(232, 253, 255), 0 0 3px rgb(239, 250, 255);
*/text-shadow:  0 0 10px rgb(232, 253, 255);

}

.city-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.city-links :link , :visited {
    color: var(--color-black);
}

.city-links a {
    margin-right: 2vw;
}

.city-links :hover {
    color: var(--color-ocean);
}

.home-buttons{
    margin-top: 4%;
}

#sign-up {
    font-family: 'Chivo', sans-serif;
    width: 15vw;
    padding: 1%;
    margin-right: 5%;
    border-radius: 5px;
    border: 0.65vw solid var(--color-black);
    background-image: linear-gradient(to right, var(--color-ocean), var(--color-med-blue));
    box-shadow: 0 0 10px 5px rgba(225, 252, 255, 0.5);
    color: var(--color-white);
    text-shadow: 0 0 0.3em rgb(110, 99, 152);
    cursor: pointer;
    font-weight: 400;
    font-size: 2.5vw;
}


#sign-up:hover  {
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right,
    rgb(198, 205, 255), var(--color-blue));

   /* background-image: linear-gradient(to right,
    rgb(107, 135, 169), rgb(97, 199, 225),rgb(95, 181, 202));*/
}

/*---- ARCHIVE -----*/
.archiveTable-container{
    margin-bottom: 5%;
    
    }
    .archiveTable{
        border: 5px solid black;
        border-radius: 10px;
        background-color: white;
        width: 60%;
        font-size: 1.5vw; 
    }
    
    th {
        background-color: var(--color-lavender);
        text-align: center;
        padding: 1%;
    }
    
    table tr{
        border-bottom: 5px solid black;
    }
    
    td {
        padding: 1%;
    }

/*----- STUDY ABROAD APPLICATION -------*/
.application-container{
    height: 100%;
    width: 100%;
    background-color: rgba(240, 246, 255, 0.75);
}

.application-title{
    display: flex;
    flex-direction: column;
}

.form-container{
    padding:5%;
}

#form-title{
    font-size: 8vw;
}

.reset-and-submit{
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 1% 0% 1% 0%;
}

#reset{
    font-family: 'Chivo', sans-serif;
    border-radius: 5px;
    border: 0px;
    background-image: linear-gradient(to right,var(--color-light-blue), var(--color-blue));
    color: var(--color-black);
    cursor: pointer;
    font-weight: 400;
    padding: 1%;
    font-size: 2vw;
    border:3px solid var(--color-black);

}

#submit, #erase{
    font-family: 'Chivo', sans-serif;
    border-radius: 5px;
    border: 0px;
    background-image: linear-gradient(to right,var(--color-light-blue), var(--color-blue));
    color: var(--color-black);
    cursor: pointer;
    font-weight: 400;
    padding: 1%;
    font-size: 2vw;
    border: 3px solid var(--color-black);

}

input, select {
    border: 2px solid var(--color-black);
    border-radius: 5px;

}

#submit:hover , #erase:hover {
    transition: all .1s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right,
    var(--color-lavender), var(--color-light-blue));
}

#reset:hover {
    transition: all .1s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right,
    var(--color-lavender), var(--color-light-blue));
}

fieldset{
    border-color: var(--color-ocean);
    border-radius: 5px;
    margin-bottom: 2%;
}



#error{
    color:rgb(208, 17, 17);
}
